.open{
    & .choke{     
       animation: remove 1s ease-in-out;        
    }
}

.opened{
    animation: remove 1s ease-in-out;
}


@keyframes remove{
      0%{
          top:0px;
          left:0px;
          transform: rotate(0deg) ;
          background-color:hsl(143, 77%, 45%);
          box-shadow: gold 1px 1px 1px 0px; 
      }

      20%{
          top:20px;
      }
      
      100%{
          top:50px;
          left:100px;
          transform: rotate(720deg) ;
          background-color:hsl(143, 29%, 11%);
          box-shadow: rgb(153, 136, 39) 2px 2px 2px 1px;      
      }
}