body {
  text-align: center;
  position: relative;
}
.header--text,
.description--text {
  color: #e9e513;
  font-size: 1.5rem;
  font-family: 'Helvetica Neue';
}
.control--button {
  width: 100px;
  height: 40px;
  font-size: 1.5rem;
  font-family: 'Helvetica Neue';
  color: #e9e513;
  border: 1.5px solid #bab70f;
  background-color: transparent;
  margin-left: 1rem;
}
#running--line {
  position: absolute;
  font-family: 'Helvetica Neue';
  color: #e9e513;
  font-size: 80px;
}
.score {
  text-align: start;
  vertical-align: middle;
  line-height: 50px;
  font-size: 1.5rem;
  color: #e9e513;
  font-family: 'Helvetica Neue';
  transform: translate(50px, 50px);
}
.turns {
  font-size: 2.3rem;
  border: 2px solid #e9e513;
  color: #d1ce11;
}
.game--container table td {
  border: 1.5px solid #efec40;
  position: relative;
}
.game--container table td .choke {
  color: #fffffc;
  background-image: url('../img/chokebg.jpg');
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  border-radius: 5px;
  z-index: 100;
  border: 3px solid #ff0000;
}
.game--container table td .image {
  margin-bottom: -5px;
}
.open .choke {
  animation: remove 1s ease-in-out;
}
.opened {
  animation: remove 1s ease-in-out;
}
@keyframes remove {
  0% {
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
  }
  20% {
    top: 20px;
  }
  100% {
    top: 50px;
    left: 100px;
    transform: rotate(720deg);
  }
}
.flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.square80 {
  width: 80px;
  height: 80px;
}
.square90 {
  width: 90px;
  height: 90px;
}
.square110 {
  width: 110px;
  height: 110px;
}
.square135 {
  width: 125px;
  height: 125px;
}
@media (max-width: 339px) {
  .wrapper {
    display: none;
  }
}
@media (min-width: 340px) {
  .button__6,
  .button__5 {
    display: none;
  }
  .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .control--container {
    margin: 0 auto;
  }
  .game--container {
    transform: translate(8px, 100px);
  }
  .game--container table {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 340px;
  }
  .game--container table tr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .game--container table tr td .image {
    width: 80px;
    height: 80px;
  }
  .game--container table tr td .choke {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
  }
}
@media (min-width: 385px) {
  .game--container table {
    margin-left: 7vw;
  }
}
@media (min-width: 600px) {
  .game--container {
    transform: translate(90px, 100px);
  }
  .game--container table {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 560px;
  }
  .game--container table tr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .game--container table tr td .image {
    width: 110px;
    height: 110px;
  }
  .game--container table tr td .choke {
    width: 110px;
    height: 110px;
    background-size: 110px 110px;
  }
}
@media (min-width: 768px) {
  .button__5 {
    display: initial;
  }
  .score {
    transform: translateY(15px);
  }
  .game--container {
    transform: translate(50px, 17px);
  }
  .game--container table {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .game--container table tr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .game--container table tr td {
    width: 90px;
    height: 90px;
  }
  .game--container table tr td .image {
    width: 90px;
    height: 90px;
  }
  .game--container table tr td .choke {
    width: 90px;
    height: 90px;
    background-size: 90px 90px;
  }
}
@media (min-width: 1200px) {
  .control--container {
    margin: 0;
  }
  .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .button__5,
  .button__6 {
    display: initial;
  }
  .score {
    transform: translate(25px, 25px);
  }
  .game--container {
    transform: translate(-65px, 40px);
  }
  .game--container table {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 440px;
    border-collapse: separate;
    border-spacing: 5px;
  }
  .game--container table tr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .game--container table tr td {
    width: 110px;
    height: 110px;
  }
  .game--container table tr td .image {
    width: 110px;
    height: 110px;
  }
  .game--container table tr td .choke {
    width: 110px;
    height: 110px;
    background-size: 110px 110px;
  }
}
@media (min-width: 1500px) {
  .game--container table {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .game--container table tr td {
    width: 125px;
    height: 125px;
  }
  .game--container table tr td .image {
    width: 125px;
    height: 125px;
  }
  .game--container table tr td .choke {
    width: 125px;
    height: 125px;
    background-size: 125px 125px;
  }
}
